<div class="bg-accent">
  <div class="container mx-auto">
    <div class="navbar">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </label>
          <ul tabindex="0"
            class="menu menu-sm dropdown-content mt-3
              text-white bg-accent
              z-[1] p-2 shadow rounded-box w-52
          ">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/notes">Notes</a></li>
            <li>
              <div *ngIf="authService.user$ | async as user else showSignIn">
                <img [src]="user.photoURL"
                  [alt]="user.displayName"
                  title="{{ user.displayName }}"
                  class="w-10 h-10 rounded-full">
                <a (click)="signOut()" class="">Logout</a>
              </div>
              <ng-template #showSignIn>
                <a routerLink="/sign-in">Sign In</a>
              </ng-template>
            </li>
          </ul>
        </div>
        <a routerLink="/" class="btn btn-ghost normal-case text-xl text-secondary-content">StickyNotes</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 text-secondary-content items-center">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/notes">Notes</a></li>
          <li>
            <div *ngIf="authService.user$ | async as user else showSignIn">
              <img [src]="user.photoURL"
                [alt]="user.displayName"
                title="{{ user.displayName }}"
                class="w-10 h-10 rounded-full">
              <a (click)="signOut()" class="">Logout</a>
            </div>
            <ng-template #showSignIn>
              <a routerLink="/sign-in">Sign In</a>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="navbar-end">
        <div class="flex items-center text-secondary-content">
          <i class="pi pi-sun p-2"></i>
          <input type="checkbox" class="toggle"
            data-toggle-theme="emerald,dark" />
          <i class="pi pi-moon p-2"></i>
        </div>
      </div>
    </div>
  </div>
</div>
